{% extends 'base.html' %}
{% block content %}

<!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1><a class="navbar-brand" href="index.html">
                        <i class="fas fa-truck-moving"></i> Game Store
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">

                        </li>
                        <li class="nav-item">

                        </li>

                    </ul>

                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">

                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!--/w3l-index3-->
    <section class="" >

        </section>

 <form action="" method="post" enctype="multipart/form-data" >
            {% csrf_token %}

            <div  class="container mt-5">
                <div class="form-group  text-center">
                    <table>
                        <tr>
                            <td> <label for="name">Game Name:</label></td>
                            <td><input type="text" id="name" class="form-control" name="name" pattern="[A-Za-z0-9]{2,8}" title="Enter character 2 to 8" required autocomplete="off"></br></td>
                        </tr>
                        <tr>
                            <td> <label for="avatar">Game Avatar:</label></td>
                            <td><input type="file" id="avatar"   class="form-control" name="avatar" accept=".png,.jpeg,.jpg" required></br></td>
                        </tr>
                        <tr>
                            <td><label for="im">Game Image:</label>
                            </td>
                            <td><input type="file" id="im"  class="form-control" name="image" accept=".png,.jpeg,.jpg" required></br></td>
                        </tr>
                        <tr>
                            <td><label for="v1">Game Video1:</label></td>
                            <td><input type="file" id="v1"  class="form-control" name="video1" accept=".mp4,.mkv," required></br></td>
                        </tr>
                        <tr>
                            <td><label for="v2">Game Video2:</label></td>
                            <td>
                    <input type="file" id="v2"  class="form-control" name="video2" accept=".mp4,.mkv," required></br></td>
                        </tr>
                        <tr>
                            <td><label for="file">Game File:</label></td>
                            <td>
                    <input type="file" id="file"  class="form-control" name="file" accept=".zip" required></br></td>
                        </tr>
                        <tr>
                            <td><label for="select">Game Type:</label></td>
                            <td> <div class="mb-3">

            <select name="select" id="select" class="form-select col-md-12 text-left " required>
                <option value="" disabled selected>--- select ---</option>
                <option value="free" required >Free</option>
                <option value="paid" required >Paid</option>
            </select>
                         </div>
                     </td>
                        </tr>
                        <tr>
                            <td><label for="amt">Game Amount:</label></td>
                            <td>  <input type="text" id="amt" class="form-control" name="amt"  required autocomplete="off" pattern="[0-9]{0,5}" title="Enter valid amount"></br></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="align:center;"><input type="submit" class="form-control" value="Submit"></br></td>
                        </tr>

                    </table>




                </div></div>

             <section class="w3l-index-about py-5" id="about2">

        </section>
{% endblock %}
