{% extends 'base.html' %}
{% block content %}

<!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1><a class="navbar-brand" href="index.html">
                        <i class="fas fa-truck-moving"></i> Game Store
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">

                        </li>
                        <li class="nav-item">

                        </li>

                    </ul>

                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">

                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!--/w3l-index3-->
    <section class="" >

        </section>

 <form action="" method="post" enctype="multipart/form-data" >
            {% csrf_token %}

            <div id="con" class="container">
                <div class="form-group col-md-8 text-center">

                    <P id="p"class="h3 text-center">Registration Form</P>
                    <hr>


            <input type="text" id="name" class="form-control" name="name" placeholder="Enter name" pattern="[A-Za-z].{4,20}" title="Enter upto 4 to 20 Characters" required></br>

            <input type="email" id="email" class="form-control" name="email" placeholder="Enter email" pattern="[a-z0-9]{0,9}[@gmail]{6}[.com]{4}$" title="Eg:user@gamil.com" required></br>

                         <div class="mb-3">
            <select name="select" class="form-select col-md-12 text-left " required>
                <option value="" disabled selected>Gender</option>
                <option value="male" required >Male</option>
                <option value="female" required >Female</option>
            </select>
                         </div>


            <input type="file" id="file"  class="form-control" name="file" accept=".jpg,.jpeg,.png" title="Only .jpg,.jpeg,.png file applicable" required><span id="error"></span></br>

            <input type="text" id="username" class="form-control" name="username" placeholder="Enter Username" pattern="[A-Za-z0-9@.].{3,20}" title="Enter 3 to 20 character and digits"required></br>


            <input type="password" id="password" class="form-control" name="password" placeholder="Enter Password" pattern="[A-Za-z0-9@.].{3,8}" title="Enter 3 to 8 characters including digits and symbols" required></br>


            <input type="password" id="password2" class="form-control" name="password2" placeholder="Enter Confirm-Password" pattern="[A-Za-z0-9@.].{3,8}" title="Enter 3 to 8 characters including digits and symbols" required></br>

                <input type="submit" class="form-control" value="Submit" onclick="error()"></br>
                 <p id="pa" class="text-center">You have an account?&nbsp <a href="{% url 'log' %}">Login</a></p>

                </div></div>

             <section class="w3l-index-about py-5" id="about2">

        </section>


{% endblock %}
