{% extends 'base.html' %}

{% block content %}
<!--/Header-->
<header id="site-header" class="fixed-top" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1><a class="navbar-brand" href="index.html">
                        <i class="fas fa-truck-moving"></i> Game Store
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' user %}">Home</a>
                        </li>
                        <li class="nav-item">

                        </li>
                        <li class="nav-item" >
                            <a class="nav-link " href="{% url 'profile' user%}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>

                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">

                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!--/w3l-index3-->


     <div class="container my-5">

<form method="post" >
    {% csrf_token %}
    {% if user %}
    <div class="review">
        <br><br><br>
        <label class="h2">Add your review here</label><br>
       <textarea name="txt" id="txt" placeholder="Type Here......" style="width:500px;height:100px;" maxlength="250" pattern="[A-za-z]{1,250}" title="Enter 250 characters" required="required" ></textarea><br>
      <input type="submit"  class="btn" value="submit">
</div>
{% endif %}

</form>

</div>
<br><br>

{%  endblock %}